<div
  id="cusdis_thread"
  data-host="https://cusdis.ccknbc.cc"
  data-app-id="blog"
  data-page-id="/cusdis-or-disqus"
  data-page-url="/cusdis-or-disqus"
  data-page-title="Cusdis-评论系统"
></div>
<script defer src="https://cusdis.ccknbc.cc/js/widget/lang/zh-cn.js"></script>
<script async defer src="https://cusdis.ccknbc.cc/js/cusdis.es.js"></script>