<div class="comments" id="cusdis_thread"
  id="cusdis_thread"
  data-host="https://cusdis.ccknbc.cc"
  data-app-id="blog"
  data-page-id="/cusdis-or-disqus"
  data-page-url="/cusdis-or-disqus"
  data-page-title="{{ page.title }}"
  data-theme="{{ site.color_theme }}"
></div>

{% if site.data.language.cusdis_lang %}
<script defer src="https://cusdis.ccknbc.cc/js/widget/lang/zh-cn.js"></script>
{% endif %}
<script async src="https://cusdis.com/js/cusdis.es.js"></script>
