<script>
    new Valine({
        avatar: 'hide',
        av: AV,
        el: '#comments',
        app_id: '{{ site.data.social.valine_comment.leancloud_appid }}',
        app_key: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',
        visitor: true,

        emojiCDN: 'http://39.105.229.249/resources/emoji/', 
        emojiMaps: {
        "猫脑过载": "catdown.jpg",
        "带劲": "daijing.jpg",
        "摆烂狐狸": "fox.jpg",
        "好耶": "good.jpg",
        "举起手来": "jssl.jpg",
        "劈叉": "picha.jpg",
        "77": "77.jpg",
        "悬浮坦克": "xftk.jpg",
        "摆烂狐狸2": "fox2.jpg",
        "疑惑": "xxyh.jpg",
        "黑猫委屈": "black_cat.jpg",
        "欲言又止": "ka.jpg",
        "屑狐狸": "xiefox.jpg",
        "猫羽雫求包养": "bluecat1.jpg",
        "狐狸Gif": "dt_fox.gif",
        "allkill": "allkill.jpg",
        "bailan": "bailan.jpg",
        "busy": "busy.gif",
        "cake": "cake.gif",
        "cat3": "cat3.gif",
        "cathand1": "cathand1.gif",
        "chijing": "chijing.gif",
        "crazy": "crazy.jpg",
        "csyou": "csyou.jpg",
        "doglian": "doglian.jpg",
        "jcat": "jcat.gif",
        "jijiking": "jijiking.jpg",
        "kegou_x": "kegou_x.jpg",
        "linguang1": "linguang1.gif",
        "mope1": "mope1.jpg",
        "mope2": "mope2.jpg",
        "mope3": "mope3.jpg",
        "moyu": "moyu.gif",
        "nuke": "nuke.jpg",
        "pinkwolf": "pinkwolf.gif",
        "ripcat": "ripcat.gif",
        "rs1": "rs1.gif",
        "rs2": "rs2.gif",
        "tomsmalie": "tomsmalie.gif",
        "w": "w.jpg",
        "w2": "w2.jpg",
        "xiaogong": "xiaogong.jpg",
        "zaomiao_yh": "zaomiao_yh.jpg",
    },
    });
</script>
