<script>
    new Valine({
        avatar: 'hide',
        av: AV,
        el: '#comments',
        app_id: '{{ site.data.social.valine_comment.leancloud_appid }}',
        app_key: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',

        emojiCDN: '//jdsalingzx.top/assets/img/emoji/', 

        emojiMaps: {
        "猫脑过载": "catdown.jpg",
        "带劲": "daijing.jpg",
        "摆烂狐狸": "fox.jpg",
        "好耶": "good.jpg",
        "举起手来": "jssl.jpg",
        "劈叉": "picha.jpg",
        "77": "77.jpg",
        "悬浮坦克": "xftk.jpg",
        "摆烂狐狸2": "fox2.jpg",
        "疑惑": "xxyh.jpg",
        "黑猫委屈": "black_cat.jpg",
        "欲言又止": "ka.jpg",
        "屑狐狸": "xiefox.jpg",
        "猫羽雫求包养": "bluecat1.jpg",
        "狐狸Gif": "dt_fox.gif",
    },
    });
</script>
