---
layout: default
---
<article class="line" itemscope itemtype="">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->
<script>
  document.getElementsByTagName("img").className="bbb";
  </script>
  
  <div itemprop="articleBody">
    {{ content }}
  </div>

    {% include tags_list.html tags=page.tags tag_count=page.tags.size %}

{% comment %}  
<!-- LiveRe -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMjY0Mi85MjAz">
  <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
  </script>
<noscript> 为正常使用评论功能请激活JavaScript</noscript>
</div>
<!-- end LiveRe -->
{% endcomment %}

  
  {% if site.data.social.valine_comment.enable  == true %}
  <div id="comments"
  data-host="https://cusdis.com"
  data-app-id="c70af28d-1821-44b7-bbc6-4fd02262d679"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script>
  window.CUSDIS_LOCALE = {
    "powered_by": "评论由 Cusdis 提供",
    "post_comment": "发送",
    "loading": "加载中",
    "email": "邮箱地址 (可选)",
    "nickname": "昵称",
    "reply_placeholder": "回复内容...",
    "reply_btn": "回复",
    "sending": "发送中...",
    "mod_badge": "管理员",
    "content_is_required": "内容不能为空",
    "nickname_is_required": "昵称不能为空",
    "comment_has_been_sent": "评论已发送，管理员审核通过后会展示"
  }
</script>
  {% include comments.html %}
  {% endif %}
  {% include scripts.html %}
  
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
